header {
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 70%;

}
nav a {
padding: 2px 2px;
background-color: grey;
text-align: center;
display: inline-block;
margin: 0 10px; 
border-radius: 5px; 
}
figcaption {
  text-align: center;
  font-size: 0.8em; /* Shrinks the font */
  color: #666;
}

#featured-property p {
  width: 60%;
  text-align: center;
  margin: 20px auto;

}
#details div {
  float: left;
  text-align: center;
  width: 25%;
  background-color: red;
}

}